@import '../../index.scss';
.item-container{
    padding:2rem;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        
        font-size: 60px;
        margin-bottom: 0;
        margin-top: 20px;
        font-family: $hero-title;
        color: $primary;
    }
    hr{
        width:14%;
        height: 13px;
        background-color: $accent;
        border: none;
        border-radius: 20px;
    }
}
.loading-text{
        
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 10%;
    font-family: $hero-title;
    color: $primary;
    text-align: center;
}

@keyframes loading-bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  .loading-bump {
    animation: bump 1000ms ease-out;
    animation-iteration-count: infinite;
  }