@import '../../../index.scss';

nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h6{
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
    }
    a,a:hover{
        text-decoration: none;
      }
      a{
        color: white;
      }
      a:hover{
          color: rgba(255, 255, 255, 0.753);
        transition: all ease-in 0.3s;
      }
    .active{
      background-color: rgba(54, 52, 52, 0.322);
      padding:0.1rem 0.4rem;
      border-radius: 6px;
    }
}